
/* Intro */

.section-container {
    display: flex;
    align-items: center;
}

.main-article {
    padding: 2rem;
}

.main-article h2 {
    padding-bottom: var(--gap);
}

.imagem-js {
    max-width: 50%;
}

