.grid-container {
    display: grid;
    grid: auto-flow / 1fr 1fr 1fr;
    gap: var(--gap);
}

.art1 h2::before {
    content: '1';
    position: absolute;
    font-size: 8rem;
    left: -7rem;
    transform: rotate(5deg);
    font-style: italic;
}

.art2 h2::before {
    content: '2';
}

.art3 h2::before {
    content: '3';
}